:root {
  --bg-white: #f1faee;
  --bg-darkblue: #1d3557;
  --bg-red: #e63946;
  --bg-teal: #a8dadc;
  --white: #fff;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--balck);
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template: 1fr minmax(50%, auto) 1fr / 1fr 5fr;
  min-height: 100%;
  grid-template-areas:
    'sidebar header'
    'sidebar main'
    'side-footer footer';
  column-gap: 3%;
  background-color: var(--bg-white);
  color: var(--white);
}

.sidebar-content,
.sidebar-footer {
  padding: 15px 20px;
  display: flex;
  align-items: center;
}

.sidebar-content {
  grid-area: sidebar;
  background-color: var(--bg-darkblue);
}

.sidebar-footer {
  grid-area: side-footer;
  background-color: var(--bg-red);
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

header {
  grid-area: header;
  background-color: var(--bg-darkblue);
}

header h1,
nav {
  flex: 1 1 auto;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  color: var(--white);
}

.main-content {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-teal);
  color: var(--black);
  padding: 40px 50px;
}

footer {
  grid-area: footer;
  background-color: var(--bg-darkblue);
}

footer h1 {
  flex: 1;
  margin-left: 20px;
  text-align: center;
}

footer span {
  flex: 4;
}
