$bg-color: #3d3d3d;
$font-color: #fff;
$font-family: 'Fira Mono', sans-serif;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $bg-color;
  color: $font-color;
  font-family: $font-family;
}
