
:root {
  font-family:
    Arial,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  --pure-white: #fff;
  --primary-color: #b9c6d2;
  --secondary-color: #d0dde9;
  --tertiary-color: #edf0f8;
  --accent-color: #ff3e00;
  --heading-color: rgb(0 0 0 / 70%);
  --text-color: #444;
  --background-without-opacity: rgb(255 255 255 / 70%);
  --column-width: 42rem;
  --column-margin-top: 4rem;
}

body {
  min-height: 100vh;
  margin: 0;
  background:
    linear-gradient(
      180deg,
      var(--primary-color) 0%,
      var(--secondary-color) 10.45%,
      var(--tertiary-color) 41.35%
    );
}

body::before {
  content: "";
  width: 80vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 10vw;
  z-index: -1;
  background:
    radial-gradient(
      50% 50% at 50% 50%,
      var(--pure-white) 0%,
      rgb(255 255 255 / 0%) 100%
    );
  opacity: 5%;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
}

#svelte {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  h1 {
    font-size: 2rem;
    margin-top: 0;
  }

  h1,
  p {
    color: var(--heading-color);
  }

  form {
    text-align: center;

    input,
    textarea {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      font-family: inherit;
      font-size: inherit;
    }

    textarea {
      resize: none;
    }

    p {
      font-weight: 600;
      text-transform: uppercase;
      line-height: 1.5;
    }

    button {
      padding: 5px 10px;
    }
  }

  .spinner {
    background-color: #edf0f8;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 0 auto 10px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
